<form class="example-form" [formGroup]='userForm'>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name, login, mail or licence" [matAutocomplete]="auto" formControlName='userInput'>
    </mat-form-field>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="valueChanged($event)">
        <mat-option *ngIf="isLoading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading" style="max-width: 400px;">
            <mat-option *ngFor="let option of dataSource" [value]="option">
                <span style="width: 20%">{{option.firstName}}</span><span style="width: 20%">{{option.lastName}}</span>
                <span style="width: 20%">{{option.login}}</span>
                <span style="width: 25%">{{option.mailName}}</span>
                <span style="width: 15%">{{option.licence}}</span>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</form>

<div *ngIf="selectedUser" class="example-full-width">
    <div>
        <mat-form-field class="fields-small">
            <input matInput disabled=true placeholder="domNo" value="{{selectedUser.domNo}}">
        </mat-form-field>
        <mat-form-field class="fields-small">
            <input matInput disabled=true placeholder="licence" value="{{selectedUser.licence}}">
        </mat-form-field>
    </div>
    <mat-form-field class="fields">
        <input matInput placeholder="firstName" value="{{selectedUser.firstName}}">
    </mat-form-field>
    <mat-form-field class="fields">
        <input matInput placeholder="lastName" value="{{selectedUser.lastName}}">
    </mat-form-field>
    <mat-form-field class="fields">
        <input matInput placeholder="login" value="{{selectedUser.login}}">
    </mat-form-field>
    <mat-form-field class="fields">
        <input matInput disabled=true placeholder="lastLogin" value="{{selectedUser.lastLogin | date:'y MMM dd'}}">
    </mat-form-field>
    <mat-form-field class="fields">
        <input matInput disabled=true placeholder="creationDate" value="{{selectedUser.creationDate | date:'y MMM dd'}}">
    </mat-form-field>
    <mat-form-field class="fields">
        <input matInput disabled=true placeholder="userLastUpdate" value="{{selectedUser.userLastUpdate | date:'y MMM dd'}}">
    </mat-form-field>
    <!-- todo cbo -->
    <mat-form-field class="fields-large">
        <input matInput disabled=true placeholder="groupNo" value="{{selectedUser.groupNo}}">
    </mat-form-field>
    <br>
    <mat-form-field class="fields">
        <input matInput disabled=true placeholder="mailName" value="{{selectedUser.mailName}}">
    </mat-form-field>
    <mat-form-field class="fields">
        <input matInput placeholder="mailPassword" value="{{selectedUser.mailPassword}}">
    </mat-form-field>

    <mat-form-field class="fields-large">
        <input matInput placeholder="email" value="{{selectedUser.email}}">
    </mat-form-field>
    <div>
        <button mat-flat-button disabled=true class="button-bot" (click)="undelete()">Undelete</button>
        <br>
        <!-- Deleted by + Deleted date -->
        <mat-checkbox color="primary" [(ngModel)]="selectedUser.acountLocked">acount Locked
        </mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="selectedUser.isActive">is Active
        </mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="selectedUser.resetPassword">reset Password
        </mat-checkbox>
    </div>
    <div>
        <!-- <mat-checkbox color="primary" [(ngModel)]="selectedUser.meddialogActive">meddialog Active
        </mat-checkbox> -->
        <mat-checkbox color="primary" [(ngModel)]="selectedUser.defautKeyboardMode">defaut Keyboard Mode
        </mat-checkbox>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngIf="selectedUser.syraInfo">
            <mat-expansion-panel-header>
                <mat-panel-title>SYRA</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="fields">
                <input matInput placeholder="group" value="{{selectedUser.syraInfo.group}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="userName" value="{{selectedUser.syraInfo.userName}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="password" value="{{selectedUser.syraInfo.password}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="agency" value="{{selectedUser.syraInfo.agency}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="billRequestLocation" value="{{selectedUser.billRequestLocation}}">
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Fact.Net (pré Syra)</mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Grille de facturation -->
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.sendToFacturaitonNet">send To FacturaitonNet
            </mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.showBilling">show Billing
            </mat-checkbox>
            <br>
            <mat-form-field class="fields">
                <input matInput placeholder="factNetGroup" value="{{selectedUser.factNetGroup}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="factNetUsr" value="{{selectedUser.factNetUsr}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="factNetPsw" value="{{selectedUser.factNetPsw}}">
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Labo</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="fields">
                <input matInput placeholder="receiveLabMail" value="{{selectedUser.receiveLabMail}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="fowardMail" value="{{selectedUser.fowardMail}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="anormalLabMail" value="{{selectedUser.anormalLabMail}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="otherLabMail" value="{{selectedUser.otherLabMail}}">
            </mat-form-field>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.managePatientWithoutFile">manage Patient Without File
            </mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.receiveAnormalLabMail">receive Anormal LabMail
            </mat-checkbox>
            <mat-form-field class="fields">
                <input matInput placeholder="partialLabMailRecall" value="{{selectedUser.partialLabMailRecall}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="mailDomain" value="{{selectedUser.mailDomain}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="userLabId" value="{{selectedUser.userLabId}}">
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>RAMQ</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.ramqSync">ramq Sync
            </mat-checkbox>
            <br>
            <mat-form-field class="fields">
                <input matInput placeholder="ramqType" value="{{selectedUser.ramqType}}">
            </mat-form-field>
            <mat-form-field class="fields">
                <input matInput placeholder="ramqUser" value="{{selectedUser.ramqUser}}">
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>
</div>
