
.fields {
  padding: 0px 3px 0px 3px;
  width: 32%;
  min-width: 125px;
}
.fields-small {
  padding: 0px 3px 0px 3px;
  min-width: 75px;
  width: 12%;
}
.fields-large {
  padding: 0px 3px 0px 3px;
  width: 60%;
}
.button-top {
  margin: 5px 3px 15px 3px;
}
.button-bot {
  margin: 20px 3px 3px 3px;
}
