<form class="example-form" [formGroup]='unitsForm'>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name, description or ID" [matAutocomplete]="auto" formControlName='unitInput'>
  </mat-form-field>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" 
    [displayWith]="displayFn" (optionSelected)="valueChanged($event)">
    <mat-option *ngIf="isLoading" >
      <mat-spinner diameter="20"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let option of dataSource" [value]="option">
        <span>{{option.machineName}}({{option.unitId}})</span>
        <small> | name : {{option.description}}</small>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</form>

<div *ngIf="selectedUnit" class="example-full-width">
  <mat-tab-group>
    <mat-tab label="Unit info">
      <br>
      <app-unit-detail
        [selectedUnit]="selectedUnit"
        (saveUnitEvent)="onSaveClick($event)"
        (undoEvent)="onUndoClick()"></app-unit-detail>
      </mat-tab>
    <mat-tab label="Domain list">
      <br>
      <app-unit-domain
      [unitId]="selectedUnit.uinNo"></app-unit-domain>
    </mat-tab>
  </mat-tab-group>
</div>