<h6>GrpDomNo : {{selectedDomainGroup.grpDomNo}}</h6>

<mat-form-field class="fields">
    <input matInput placeholder="RamqUser" [(ngModel)]="selectedDomainGroup.ramqUser">
</mat-form-field>
<br>
<mat-form-field class="fields-large">
    <input matInput placeholder="RamqSyncDate" [(ngModel)]="selectedDomainGroup.ramqSyncDate">
</mat-form-field>
<br>
<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<mat-checkbox class="fields" 
    color="primary"
    [(ngModel)]="selectedDomainGroup.ramqSync">RamqSync</mat-checkbox>
<br>
<div class="button-bot">
    <button mat-flat-button (click)="saveUnit()" color="primary">Save</button>
    <button mat-flat-button (click)="undoChanges()">Undo</button>
</div>