<form [formGroup]='domainsForm'>
    <mat-form-field class="full" >
        <input matInput placeholder="Domain name or ID" [matAutocomplete]="auto" formControlName='domainInput'>
    </mat-form-field>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="valueChanged($event)">
        <mat-option *ngIf="isLoading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let option of dataSource" [value]="option">
                <span>{{option.domName}}({{option.domNo}})</span>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</form>