<mat-form-field class="example-full-width">
  <input type="text" placeholder="Select a domain" aria-label="Number" matInput 
      [formControl]="myControl" 
      [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
  (optionSelected)="valueChanged($event)">
    <mat-option *ngFor="let option of filteredOptions$ | async"
    [value]="option.domName">
      {{option.domName}}({{option.domNo}})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div *ngIf="selectedDomain" class="example-full-width">
    <mat-tab-group>
        <mat-tab label="Domain">
          <br>
          <app-domain-detail [selectedDomain]="selectedDomain"></app-domain-detail>
        </mat-tab>
        <mat-tab label="Domain group">
          <br>
          <app-domain-group [selectedDomainGroup]="selectedDomain.domainGroup"></app-domain-group>
        </mat-tab>
    </mat-tab-group>
</div>

